################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UpgradeLog.htm
/New Text Document.txt
/test/obj/Debug
/test/bin/Debug
/LendLease.v12.suo
/src/LendLease.Web/bin/Debug/netcoreapp1.0
/src/LendLease.Web/wwwroot
/src/LendLease.Web/obj/Debug/netcoreapp1.0
/src/LendLease.Web/node_modules
/src/LendLease.Web/typings
/src/LendLease.Data/bin/Debug
/src/LendLease.Data/obj/Debug
/src/LendLease.Interfaces/bin/Debug
/src/LendLease.Interfaces/obj/Debug
/src/LendLease.Models/bin/Debug
/src/LendLease.Models/obj/Debug
/src/LendLease.Web/bin
/src/LendLease.Web/obj/Release/netcoreapp1.0
/src/LendLease.Data/bin/Release/netcoreapp1.0
/src/LendLease.Data/obj/Release/netcoreapp1.0
/src/LendLease.Interfaces/bin/Release/netcoreapp1.0
/src/LendLease.Interfaces/obj/Release/netcoreapp1.0
/src/LendLease.Models/bin/Release/netcoreapp1.0
/src/LendLease.Models/obj/Release/netcoreapp1.0
/src/LendLease.Web/Properties/PublishProfiles
