################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UpgradeLog.htm
/New Text Document.txt
/test/obj/Debug
/test/bin/Debug
/LendLease.v12.suo
/src/LendLease.Web/bin/Debug/netcoreapp1.0
/src/LendLease.Web/wwwroot
/src/LendLease.Web/obj/Debug/netcoreapp1.0
/src/LendLease.Web/node_modules
/src/LendLease.Web/typings
