

<div>{{message}}</div>

<div class="row">
    <displaytemplate [tile]="customerCountTile"> Loading...</displaytemplate>
    <displaytemplate [tile]="scheduledPaymentCountTile"> Loading...</displaytemplate>
    <displaytemplate [tile]="paymentRecievedCountTile"> Loading...</displaytemplate>
    <displaytemplate [tile]="paymentOverdueCountTile"> Loading...</displaytemplate>
</div>