@model LendLease.Web.ViewModels.DashboardViewModel

<div>{{message}}</div>

<div class="row">
    <displaytemplate [tile]="customerCountTile"> Loading...</displaytemplate>
    <displaytemplate [tile]="scheduledPaymentCountTile"> Loading...</displaytemplate>
    <displaytemplate [tile]="paymentRecievedCountTile"> Loading...</displaytemplate>
    @Html.DisplayFor(m => m.PaymentOverdueCountTile)
</div>